/* ----------- form section ------------- */
.form_section {
  margin-top: 50px;
  padding: 30px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.table_section {
  margin: 50px 0;
}

/* responsive css */
/* ----------- responsive css ------------- */
@media only screen and (max-width: 700px) {
  .form_section {
    margin-top: 50px;
    padding: 0px;
  }
}
